html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.courseCard {
  padding-right: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: antiquewhite;
  height: 200px;
  padding: 10px;
  position: relative;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 800px;
}

.slick-prev {
  z-index: 100;
  left: 20px !important;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.slick-next {
  z-index: 100;
  right: 20px !important;
}
